In [2]:
import pandas as pd

game_events_path = '../data/game_events.csv'
# read the data and store data in DataFrame titled melbourne_data
game_events_data = pd.read_csv(game_events_path) 
# print a summary of the data in Melbourne data
game_events_data.describe()

                 id       game_id     timestamp     killer_id     killed_id
count  1.884740e+06  1.884740e+06  1.884740e+06  1.747402e+06  1.042519e+06
mean   9.423695e+05  1.914941e+04  1.301976e+03  1.551300e+03  1.637563e+03
std    5.440777e+05  1.089386e+04  5.477400e+02  1.228934e+03  1.265242e+03
min    0.000000e+00  0.000000e+00 -1.000000e+00  0.000000e+00  0.000000e+00
25%    4.711848e+05  9.735000e+03  9.060000e+02  4.890000e+02  5.250000e+02
50%    9.423695e+05  1.918700e+04  1.332000e+03  1.235000e+03  1.342000e+03
75%    1.413554e+06  2.879800e+04  1.701000e+03  2.405000e+03  2.571000e+03
max    1.884739e+06  3.745800e+04  4.211000e+03  4.952000e+03  4.952000e+03

In [29]:
game_events_data.tail()
#23908

,id,game_id,timestamp,event_type,killer_id,killed_id,assisting_player_ids,drake_type
1884735,1884735,37458,1538,player_kill,1023.0,4697.0,"[1009, 660, 2688, 34]",NaN
1884736,1884736,37458,1553,player_kill,2688.0,2997.0,"[660, 1023, 34]",NaN
1884737,1884737,37458,1554,tower_kill,1023.0,NaN,"[660, 2688]",NaN
1884738,1884738,37458,1556,player_kill,660.0,3707.0,[2688],NaN
1884739,1884739,37458,1559,tower_kill,660.0,NaN,"[1023, 2688, 34]",NaN

In [27]:
# Affiche un tableau des valeurs distinctes
game_events_data['event_type'].unique()

array(['player_kill', 'tower_kill', 'drake_kill', 'baron_nashor_kill',
       'inhibitor_kill', 'rift_herald_kill', 'suicide', 'other',
       'resurrection', 'dragon_kill', 'voidgrub_kill'], dtype=object)

In [12]:
game_events_data.iloc[201:250]

,id,game_id,timestamp,event_type,killer_id,killed_id,assisting_player_ids,drake_type
201,201,4,1305,player_kill,46.0,50.0,"[45, 49, 44]",NaN
202,202,4,1340,baron_nashor_kill,49.0,NaN,[],NaN
203,203,4,1390,drake_kill,51.0,NaN,[],mountain
204,204,4,1449,tower_kill,49.0,NaN,"[51, 46, 44]",NaN
205,205,4,1506,tower_kill,46.0,NaN,[44],NaN
206,206,4,1513,player_kill,47.0,46.0,"[50, 42, 43]",NaN
207,207,4,1518,player_kill,45.0,50.0,"[49, 51, 46, 44]",NaN
208,208,4,1522,player_kill,51.0,47.0,"[46, 44]",NaN
209,209,4,1523,player_kill,51.0,48.0,"[46, 44]",NaN
210,210,4,1531,player_kill,42.0,45.0,"[48, 43]",NaN
211,211,4,1546,player_kill,51.0,42.0,"[49, 44]",NaN
212,212,4,1557,tower_kill,51.0,NaN,"[49, 44]",NaN
213,213,4,1567,inhibitor_kill,51.0,NaN,"[49, 44]",NaN
214,214,4,1647,tower_kill,51.0,NaN,[],NaN
215,215,4,1699,player_kill,46.0,48.0,"[45, 49, 44]",NaN
216,216,4,1704,player_kill,49.0,50.0,"[45, 51, 46, 44]",NaN
217,217,4,1730,tower_kill,46.0,NaN,"[45, 51, 44]",NaN
218,218,4,1734,player_kill,46.0,47.0,"[45, 51, 44]",NaN
219,219,4,1739,player_kill,46.0,42.0,"[49, 51, 44]",NaN
220,220,4,1740,player_kill,42.0,49.0,"[47, 43]",NaN
221,221,4,1741,tower_kill,45.0,NaN,"[49, 51, 46, 44]",NaN
222,222,5,196,player_kill,43.0,44.0,[47],NaN
223,223,5,210,player_kill,43.0,46.0,[47],NaN
224,224,5,258,player_kill,51.0,48.0,[49],NaN
225,225,5,396,player_kill,42.0,46.0,"[47, 43]",NaN
226,226,5,399,player_kill,47.0,44.0,"[42, 43]",NaN
227,227,5,516,player_kill,51.0,43.0,"[46, 44]",NaN
228,228,5,700,drake_kill,47.0,NaN,[],ocean
229,229,5,783,player_kill,51.0,50.0,"[45, 49]",NaN
230,230,5,811,tower_kill,NaN,NaN,"[45, 51]",NaN
231,231,5,820,tower_kill,47.0,NaN,[43],NaN
232,232,5,1009,drake_kill,49.0,NaN,[],infernal
233,233,5,1023,player_kill,43.0,51.0,"[50, 48, 47]",NaN
234,234,5,1033,player_kill,50.0,45.0,"[42, 47, 43]",NaN
235,235,5,1056,tower_kill,NaN,NaN,"[48, 43]",NaN
236,236,5,1141,tower_kill,47.0,NaN,[43],NaN
237,237,5,1148,tower_kill,44.0,NaN,"[45, 49, 46]",NaN
238,238,5,1351,drake_kill,42.0,NaN,[],infernal
239,239,5,1365,player_kill,46.0,48.0,"[49, 44]",NaN
240,240,5,1366,player_kill,47.0,45.0,"[50, 48, 43]",NaN
241,241,5,1369,player_kill,47.0,46.0,"[42, 48, 43]",NaN
242,242,5,1377,player_kill,50.0,49.0,"[47, 43]",NaN
243,243,5,1415,baron_nashor_kill,42.0,NaN,[],NaN
244,244,5,1549,tower_kill,NaN,NaN,[],NaN
245,245,5,1567,tower_kill,NaN,NaN,[48],NaN
246,246,5,1572,player_kill,45.0,42.0,[51],NaN
247,247,5,1663,drake_kill,48.0,NaN,[],infernal
248,248,5,1671,tower_kill,45.0,NaN,[],NaN
249,249,5,1847,player_kill,48.0,45.0,"[50, 42, 47, 43]",NaN

In [28]:
# Filtrer les lignes selon les conditions
filtered_data = game_events_data.loc[
    # (game_events_data['killer_id'] == 2734.0) &  
    (game_events_data['game_id'] == 15)
]

# Afficher le résultat
filtered_data

,id,game_id,timestamp,event_type,killer_id,killed_id,assisting_player_ids,drake_type
724,724,15,264,player_kill,2.0,5.0,[3],NaN
725,725,15,276,player_kill,7.0,2.0,[5],NaN
726,726,15,280,player_kill,7.0,3.0,[],NaN
727,727,15,345,player_kill,4.0,3.0,"[5, 6]",NaN
728,728,15,387,drake_kill,6.0,NaN,"[5, 7, 4]",ocean
729,729,15,521,player_kill,8.0,4.0,[9],NaN
730,730,15,556,player_kill,6.0,8.0,[5],NaN
731,731,15,592,player_kill,0.0,1.0,[],NaN
732,732,15,600,player_kill,6.0,0.0,[1],NaN
733,733,15,670,player_kill,6.0,0.0,"[5, 7]",NaN
734,734,15,670,player_kill,0.0,7.0,[9],NaN
735,735,15,695,player_kill,8.0,1.0,"[3, 2]",NaN
736,736,15,719,rift_herald_kill,6.0,NaN,[],NaN
737,737,15,743,player_kill,8.0,4.0,"[9, 0]",NaN
738,738,15,749,tower_kill,7.0,NaN,[6],NaN
739,739,15,783,player_kill,2.0,1.0,[9],NaN
740,740,15,788,player_kill,6.0,0.0,[5],NaN
741,741,15,825,tower_kill,6.0,NaN,"[5, 7]",NaN
742,742,15,914,drake_kill,6.0,NaN,"[5, 7, 4]",cloud
743,743,15,924,tower_kill,8.0,NaN,[],NaN
744,744,15,1040,tower_kill,NaN,NaN,[9],NaN
745,745,15,1062,player_kill,5.0,8.0,[4],NaN
746,746,15,1082,tower_kill,4.0,NaN,[],NaN
747,747,15,1107,tower_kill,4.0,NaN,"[5, 7, 6]",NaN
748,748,15,1143,player_kill,6.0,8.0,[4],NaN
749,749,15,1216,player_kill,1.0,8.0,"[5, 7]",NaN
750,750,15,1221,player_kill,7.0,0.0,"[4, 6, 1]",NaN
751,751,15,1229,player_kill,4.0,3.0,"[5, 1]",NaN
752,752,15,1257,baron_nashor_kill,6.0,NaN,"[7, 4, 1]",NaN
753,753,15,1268,tower_kill,2.0,NaN,[],NaN
754,754,15,1316,drake_kill,6.0,NaN,[7],mountain
755,755,15,1357,tower_kill,7.0,NaN,"[5, 1]",NaN
756,756,15,1371,player_kill,7.0,8.0,"[5, 1]",NaN
757,757,15,1372,player_kill,4.0,2.0,[6],NaN
758,758,15,1374,player_kill,7.0,0.0,"[5, 6, 1]",NaN
759,759,15,1376,player_kill,4.0,3.0,"[5, 1]",NaN
760,760,15,1382,player_kill,1.0,9.0,"[5, 7, 4, 6]",NaN
761,761,15,1391,tower_kill,6.0,NaN,"[5, 7, 4, 1]",NaN
762,762,15,1396,inhibitor_kill,7.0,NaN,"[5, 4, 6, 1]",NaN
763,763,15,1402,tower_kill,4.0,NaN,"[5, 7, 6, 1]",NaN
764,764,15,1405,tower_kill,5.0,NaN,"[7, 4, 6, 1]",NaN

In [9]:
game_events_data.columns

Index(['id', 'game_id', 'timestamp', 'event_type', 'killer_id', 'killed_id',
       'assisting_player_ids', 'drake_type'],
      dtype='object')

In [16]:
for col in game_events_data.columns:
    unique_vals = game_events_data[col].unique()
    print(f"Column: {col}")
    print(f"Number of unique values: {len(unique_vals)}")
    print(f"Sample unique values: {unique_vals[:10]}")
    print("-" * 40)

Column: id
Number of unique values: 1884740
Sample unique values: [0 1 2 3 4 5 6 7 8 9]
----------------------------------------
Column: game_id
Number of unique values: 37417
Sample unique values: [0 1 2 3 4 5 6 7 8 9]
----------------------------------------
Column: timestamp
Number of unique values: 3411
Sample unique values: [229 289 499 504 535 698 700 705 819 823]
----------------------------------------
Column: event_type
Number of unique values: 11
Sample unique values: ['player_kill' 'tower_kill' 'drake_kill' 'baron_nashor_kill'
 'inhibitor_kill' 'rift_herald_kill' 'suicide' 'other' 'resurrection'
 'dragon_kill']
----------------------------------------
Column: killer_id
Number of unique values: 4883
Sample unique values: [21. 25. 22. 28. 23. 27. 30. 26. nan 24.]
----------------------------------------
Column: killed_id
Number of unique values: 4944
Sample unique values: [29. 21. 23. 24. 26. 25. 28. 22. nan 30.]
----------------------------------------
Column: assisting_player_ids
Number of unique values: 111397
Sample unique values: ['[23]' '[29, 22]' '[29, 25]' '[27]' '[21, 23, 30, 27]' '[30, 28, 27]'
 '[21, 30]' '[24]' '[23, 30, 28, 27]' '[26]']
----------------------------------------
Column: drake_type
Number of unique values: 8
Sample unique values: [nan 'cloud' 'mountain' 'infernal' 'ocean' 'elder' 'hextech' 'chemtech']
----------------------------------------